footer.footer
	.container
		.footer_links 我的朋友们: 
			a(href="http://www.iovi.com",target="_blank") Sunycomes / 
			a(href="http://www.ckecy.com",target="_blank") ckecy / 
			a(href="http://www.yimeijun.com",target="_blank") yimeijun / 
			a(href="http://www.mubing01.cn",target="_blank") Mubing 
		.footer_powered_by Powered by 
			a(href="http://cv.coolwubo.com",target="_blank") Coolwubo

