.pln{color:#66D9EF}
@media screen{
	.str{color:#E6DB74}
	.kwd{color:#F92659}
	.com{color:#93a1a1}
	.typ{color:#A6E22E}
	.lit{color:#AE81FF}
	.pun,.opn,.clo{color:#F8F8F2}
	.tag{color:#F92659}
	.atn{color:#A6E22E}
	.atv{color:#E6DB74}
	.dec,.var{color:#A6E22E}
	.fun{color:dc322f}
}
@media print,projection{
	.str{color:#E6DB74}
	.kwd{color:#F92659;font-weight:bold}
	.com{color:#93a1a1;font-style:italic}
	.typ{color:#A6E22E;font-weight:bold}
	.lit{color:#AE81FF}
	.pun,.opn,.clo{color:#F8F8F2}
	.tag{color:#F92659;font-weight:bold}
	.atn{color:#A6E22E}
	.atv{color:#E6DB74}
}
pre.prettyprint{padding:10px;border:1px solid #aaa;border-left: 4px solid #558abb;}
ol.linenums{margin-top:0;margin-bottom:0}
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}
li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}
pre{font-size:14px;font-weight: bold;border-radius: 4px;background-color: #2F2D2D;}