script(src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js")
script(src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js")
script(src="/js/prettify.js")
script(src="/js/lightHeight.js")
script.
  $(document).ready(function() {

    $("#top a[href*=5592939ac976c530190f7bc2]").attr({"href":"/lvxing.html","target":"_blank"});

    var html = "<div id=\"layer\" style=\"position:fixed;_position:absolute;z-index:200;display:none;width:68px; height:68px; bottom:20px;right:5px;opacity:0.75;\">";
    html += "<a href=\"javascript:void(0);\" title=\"返回顶部\">";
    html += "<span style=\"width:68px;height:68px;display:block; margin-bottom:7px;-webkit-transition:1s;-moz-transition:1s;transition:1s;background-color: transparent 9; background:#ddd url(http://7xjao4.com1.z0.glb.clouddn.com/r_top.png) no-repeat center center;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;\"></span>";
    html += "</a>";
    html += "</div>";
    $("body").append(html);
    $("#layer span").mouseover(function() { $(this).css("background-color", "#999"); }).mouseout(function() { $(this).css("background-color", "#ddd"); });
    $("#layer span").click(function() {
      $("html,body").animate({ scrollTop: "0px" }, 500);
      return false;
    });
    $(window).scroll(function() {
      if ($(document).scrollTop() > 100) {
        $("#layer").fadeIn("slow");
        return false;
      } else {
        $("#layer").fadeOut("fast");
        return false;
      }
    });
    
    $("#extendShow").click(function(){
      console.log($("#extendShow").title);
      if($("#extendShow").attr("title") == "扩展显示"){
        $(".col-md-8").animate({ 
          width: "100%",
        }, 500 );
        $(".col-md-4").hide();
        $("#extendShow").attr("title","收缩显示");
        $("#extendShow").removeClass("fa-expand");
        $("#extendShow").addClass("fa-compress");
      }else{
        $(".col-md-8").animate({ 
          width: "66.66666667%",
        }, 500 );
        $(".col-md-4").show();
        $("#extendShow").attr("title","扩展显示");
        $("#extendShow").removeClass("fa-compress");
        $("#extendShow").addClass("fa-expand");
      }
     
    });

     $(".artical-content").find("h2,h3,h4,h5,h6").each(function(i,item){
          var tag = $(item).get(0).localName;
          $(item).attr("id","wow"+i);
          $(".AnchorContent").append('<li><a class="anchor-link new'+ tag +'" href="#wow'+i+'">'+$(this).text()+'</a></li>');
          $(".newh2").css("margin-left",0);     
          $(".newh3").css("margin-left",10);     
          $(".newh4").css("margin-left",20);     
          $(".newh5").css("margin-left",30);     
          $(".newh6").css("margin-left",40); });

  });
  window.onscroll = function(){
      if ($(document).scrollTop() > 500)
      {
        $(".BlogAnchor").addClass('floatFixed');
      }else{
        $(".BlogAnchor").removeClass('floatFixed');
      }
    }
