extends ../layout.jade


block content
	#content.container.bs-docs-container
		.row
			.col-md-3
				.funnydiv
					.f-img
						a ToolTip
					.f-text
						p this is a jianjie
					.f-link
						a show
						a github
