extends ../layout.jade


block content
	#content.container.bs-docs-container
		img.about-avatar(src="/img/avatar.jpg",alt="my avatar")
		h2.centerText 代码分享
		.row
			.col-md-4
				.funnydiv.boxed
					.f-img-niuyue
						a(href="http://www.coolwubo.com") 走路去纽约
					.f-text
						p 走路去纽约是一个基于Node.js使用express4.0框架和Mongodb数据库构建的轻型个人博客，前端使用Bootstrap和Jade模板实现简介精炼的界面效果。
					.f-link
						a.pull-right(href="http://www.coolwubo.com" target="_blank")
							i(class="fa fa-picture-o fa-2x maleft10 maright10")
						a.pull-right(href="https://github.com/ant2014/mybolg" target="_blank")
							i(class="fa fa-github fa-2x maleft10")
			.col-md-4
				.funnydiv.boxed
					.f-img-ToolTip
						a(href="http://www.coolwubo.com/funny/1ToolTip/index.html" target="_blank") ToolTip
					.f-text
						p Tooltips也被称为屏幕提示，它是当鼠标悬停在一个图标、图片、超链接或其它元素上面的时候出现的一串提示信息。这是一个纯CSS实现的小例子。
					.f-link
						a.pull-right(href="http://www.coolwubo.com/funny/1ToolTip/index.html" target="_blank")
							i(class="fa fa-picture-o fa-2x maleft10 maright10")
						a.pull-right(href="https://github.com/ant2014/funnyTools" target="_blank")
							i(class="fa fa-github fa-2x maleft10")
