doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(view="viewport",content="width=device-width,initial-scale=1")
    title 走路去纽约
    script.
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?4bddc4552219c2ca751168ffa08d5031";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
    include ./includes/headcss
  body
    .body-wrap
      include ./includes/header
      block content
      include ./includes/footer
    include ./includes/footerjs
