doctype html
html(xmlns:wb="http://open.weibo.com/wb") 
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(view="viewport",content="width=device-width,initial-scale=1")
    meta(name="keywords",content="前端, 前端开发, web前端, web前端开发, 前端开发工程师, 前端开发攻城师, 开发, 前端资源, CSS, JavaScript, Ajax, jQuery, html,html5,css3,浏览器兼容, 前端开发工具, jQuery API, nodejs , node , boostrap , sublime")
    title 学前班(duan) - 前端风景很美 - 专注前端开发
    meta(name="description",content="这是一个前端攻城狮的个人博客，里面记录了他磕磕绊绊的技术成长经历，有文章有源码，希望同是热爱前端的你能和我一起交流，共同进步。")
    link(rel="icon",href="/img/favicon.ico",type="image/x-icon") 
    script.
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?4bddc4552219c2ca751168ffa08d5031";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
    include ./includes/headcss
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  body
    #mainProgress
    .body-wrap
      include ./includes/header
      block content
      include ./includes/footer
    include ./includes/footerjs
