doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(view="viewport",content="width=device-width,initial-scale=1")
    title 走路去纽约
    include ./includes/headcss
  body
    .body-wrap
      include ./includes/headerGl
      block content
      include ./includes/footer
    include ./includes/footerjs
